*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --black-wash: #0c0c0c;
  --eerie-black: #1c1c1c;
  --cold-gray: #9e9e9e;
  --green: #bbea8d;
  --font: 'Helvetica', sans-serif;

  font-family: var(--font);
  background-color: var(--black-wash);
}

body {
  width: 450px;
  height: 450px;
}

p {
  color: white;
  font-size: 14px;
  margin: 0;
}

a {
  color: var(--green);
  font-size: 8px;
  font-weight: bolder;
  cursor: pointer;
}

.reloadIcon {
  cursor: pointer;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}

.app-header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

.app-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch-label {
  padding: 8px;
  transition: color 0.3s ease;
  font-size: 8px;
  font-weight: bolder;
}

#switch-label-on {
  color: var(--green);
}

#switch-label-off {
  color: var(--cold-gray);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-wash);
  border: 1px solid white;
  opacity: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 21px;
  top: 1px;
  background-color: var(--green);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--black-wash);
  opacity: 100%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

input:checked + .switch-label-on {
  color: var(--green);
}

input:checked + .switch-label-off {
  color: var(--cold-gray);
}
